{% extends 'base.html' %}

{% block content %}
<form class="form-inline" method="POST">
    <input class = "me-2" type="text" name="operand1" value="{{ request.form.get('operand1', '')}}">
    <select class = "me-2" name="operation" id="operation">
        <option {% if request.form.get('operation') == '+' %} selected{%endif%}>+</option>
        <option {% if request.form.get('operation') == '-' %} selected{%endif%}>-</option>
        <option {% if request.form.get('operation') == '*' %} selected{%endif%}>*</option>
        <option {% if request.form.get('operation') == '/' %} selected{%endif%}>/</option>
    </select>
    <input class = "me-2" type="text" name="operand2" value="{{ request.form.get('operand2', '')}}">
    <button class="btn btn-primary" type="submit">=</button>
    <input type="text" value="{{ result or ''}}" disabled>
</form>
{% if error_msg %}
<p style="color: red;">{{error_msg}}</p>
{% endif %}
{% endblock  %}