{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col"># товара</th>
        <th scope="col">Наименование</th>
        <th scope="col">Цена</th>
        <th scope="col">Описание</th>

    </tr>
    </thead>
    <tbody>
    {%for product in products%}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{product.name_product}}</td>
        <td>{{product.price}}</td>
        <td>{{product.desc}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}